body {
    font-size: 16px;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}
hr {
    border-width: 1px;
}
header {
    background-color: #CFCFff;
    padding: 1rem;
    border-radius: 10px;
    font-size: 24px;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: #CFCFff;
    padding: 1rem;
    border-radius: 10px;
    color: #00665C;
    font-size: 13px;
}


.pfp {
    width: 200px;
    height: auto;
    float: right;
    box-shadow:5px 5px 5px rgba(116, 161, 190, 0.733);
}