body {
    font-size: 16px;
    font-family: Century Gothic, Arial, Helvetica, sans-serif;
}

a:link{
    text-decoration: none;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

hr {
    border-width: .5px; 
    margin-left: 20px;
    margin-right: 275px;
    border-color: rgba(116, 161, 190, 0.733);
}

h3{
    font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Slab', serif;
}

header {
    background-color: #CFCFff;
    padding: 1rem;
    border-radius: 10px;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #CFCFff;
    padding: 1rem;
    border-radius: 10px;
    color: #00665C;
    font-size: 13px;
}


.pfp {
    width: 200px;
    height: auto;
    box-shadow:5px 5px 5px rgba(116, 161, 190, 0.733);
}