body {
    font-size: 18px;
}

header, main, footer {
    max-width: 700px;
    margin: 0 auto;
}

header {
    background-color: #CFCFff;
    padding: 1rem;
    border-radius: 10px;
}




img {
    width: 200px;
    height: auto;
}