@media only screen and (min-width: 64rem) {

    body {
        font-size: 16px;
        font-family: Century Gothic, Arial, Helvetica, sans-serif;
        padding-left: 1fr;
        padding-right: 1fr;
        /* background-image: url('/artportfolio/images/CameronColors.png'); /*why doesnt this work?...*/
        background-repeat: no-repeat;
        background-size: cover;       background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(32,29,121,1) 29%, rgba(27,52,163,1) 68%, rgba(65,111,191,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(32,29,121,1) 29%,rgba(27,52,163,1) 68%,rgba(65,111,191,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gent(to bottom,  rgba(0,0,0,1) 0%,rgba(32,29,121,1) 29%,rgba(27,52,163,1) 68%,rgba(65,111,191,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#416fbf',GradientType=0 ); /* IE6-9 */


    }

    a:link{
        text-decoration: none;
    }
    
    .wrapper {
        width: 80%;
        display: block;
        margin: auto;
    }

    main {
        max-width: span;
        margin: 1fr;
    }

    hr {
        border-width: .5px; 
        margin-left: 20px;
        margin-right: 275px;
        border-color: rgba(116, 161, 190, 0.733);
    }

    h3{
        font-family: 'Montserrat', sans-serif;
        font-family: 'Roboto Slab', serif;
    }

    h1 {
        align-content: center;
    }

    header {
        margin: auto;
        display:block;
        width: 75%;
        /*background-color: #CFCFff;*/
        font-size: 20px;
        font-weight: bold;
        text-align: left;
        margin-bottom: 70px;
        margin-top:30px;     
    }

    .logo {
        height: 100px;
        padding: 10px 20px;
        display: block;
        margin: auto;
    }

    /*footer {
        text-align: center;
        background-color: #CFCFff;
        padding: 1rem;
        border-radius: 10px;
        color: #00665C;
        font-size: 13px;
    }*/

    .grid {
        display: grid;
        grid-gap:30px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        justify-items: center;

    }

    .image {
        width: auto;
        height: 300px;
        box-shadow:10px 10px 10px rgba(0, 0, 0, 0.733);
        border-radius: 8px;
    }

}